.btn {
  display: inline-flex;
  border-radius: 2px;
  color: #fff;
}

.btn_type_first {
  background-color: $primary;
  padding: 20px;
}

.btn_type_second {
  color: $secondry;
  &:hover {
    text-decoration: underline;
  }
}